/KissJGabor20190319/nbproject/private/
/KissJGabor20190319/build/
/01 Matek/nbproject/private/
/01 Matek/build/
/02 Matek 2/build/
/02 Matek 2/dist/
/02 Matek 2/nbproject/private/
/03 Terulet/build/
/03 Terulet/dist/
/03 Terulet/nbproject/private/
/04 Vezérlőszerkezetek - IF/build/
/04 Vezérlőszerkezetek - IF/dist/
/04 Vezérlőszerkezetek - IF/nbproject/private/