/KissJGabor20190319/nbproject/private/
/KissJGabor20190319/build/
/01 Matek/nbproject/private/
/01 Matek/build/
/02 Matek 2/build/
/02 Matek 2/dist/
/02 Matek 2/nbproject/private/
/03 Terulet/build/
/03 Terulet/dist/
/03 Terulet/nbproject/private/
/04 Vezérlőszerkezetek - IF/build/
/04 Vezérlőszerkezetek - IF/dist/
/04 Vezérlőszerkezetek - IF/nbproject/private/
/05 Vezérlőszerkezetek - FOR/build/
/05 Vezérlőszerkezetek - FOR/dist/
/05 Vezérlőszerkezetek - FOR/nbproject/private/
/07 Ciklusok 2/build/
/07 Ciklusok 2/nbproject/private/
/09 Output 2/build/
/09 Output 2/dist/
/09 Output 2/nbproject/private/
/10 Dolgozat20181112/build/
/10 Dolgozat20181112/dist/
/10 Dolgozat20181112/nbproject/private/
/11 Tömbök/build/
/11 Tömbök/dist/
/11 Tömbök/nbproject/private/
/15 IO/build/
/15 IO/dist/
/15 IO/nbproject/private/